@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Juan Guillermo Rute Sanabria<br />
                                <a href="https://www.linkedin.com/in/juan-guillermo-rute-sanabria-2a683158">linkedin</a><br />
    <abbr title="Phone">Phone:</abbr>
    3125448615
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jgrutes@gmail.com">jgrutes@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jgrutes@gmail.com">jgrutes@gmail.com</a>
</address>